.evo-chain {
  border-bottom: 1px solid rgba(200,200,200,03);
}

.trigger {
  text-align: center;
  text-transform: capitalize;
  font-size: 12px;
  font-weight:bold;
  border-bottom: 1px solid rgba(200,200,200,0.8);
}
